body{
    margin: 0px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: fixed;
    width: 100vw;
}   
.navbar-brand, .nav-item{
    font-size: 22px;
}
.main{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}
.segments{
    background-attachment: fixed;
	height: 100vh;
	width: 100vw;
    background-repeat: no-repeat;

}
.segment-1{
    background-image: url("back1.jpg");
    background-size: 100vw;
    
}
.segment-2{
background-image: url("background.jpg");
background-size: 100vw;
}